
<main class="feedback-page" >
  <div class="feedback-page-container">
    <h1 class="text-3xl font-semibold mb-12">Ce que nos clients disent de nous</h1>
    <div class="flex justify-center space-x-8">
      <mat-card class="max-w-md p-6 bg-white rounded-lg shadow-md">
        <mat-card-content>
          “Les cours sont vraiment interactifs et les tuteurs sont très professionnels. J'ai beaucoup progressé !”
        </mat-card-content>
        <mat-card-footer class="font-bold">– Sarah D.</mat-card-footer>
      </mat-card>
      <mat-card class="max-w-md p-6 bg-white rounded-lg shadow-md">
        <mat-card-content>
          “Je peux apprendre à mon rythme avec un programme totalement flexible. Je recommande !”
        </mat-card-content>
        <mat-card-footer class="font-bold">– Pierre M.</mat-card-footer>
      </mat-card>
    </div>

      <button  mat-raised-button routerLink="/registration">Commencer Maintenant !</button>

  </div>
</main>
