<!-- advantages.component.html -->


<main class="advantages-page" >
  <div class="advantages-page-container">
    <h1 class="text-3xl font-semibold mb-12">Pourquoi choisir notre service ?</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <mat-card class="p-6 bg-gray-100 rounded-lg shadow-md">
        <mat-card-title>Apprentissage interactif</mat-card-title>
        <mat-card-content>
          Des cours interactifs avec des supports variés pour un apprentissage efficace.
        </mat-card-content>
      </mat-card>

      <mat-card class="p-6 bg-gray-100 rounded-lg shadow-md">
        <mat-card-title>Horaires flexibles</mat-card-title>
        <mat-card-content>
          Choisissez des horaires adaptés à votre emploi du temps.
        </mat-card-content>
      </mat-card>

      <mat-card class="p-6 bg-gray-100 rounded-lg shadow-md">
        <mat-card-title>Tuteurs certifiés</mat-card-title>
        <mat-card-content>
          Nos tuteurs sont qualifiés et certifiés pour un enseignement de qualité.
        </mat-card-content>
      </mat-card>
    </div>
    <button  mat-raised-button routerLink="/registration">Commencer Maintenant !</button>

  </div>
</main>
